*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.titulo{
    text-align: center;
    background-color: red;
    width: 200px;
    height: 100px;
    border-radius: 30px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30px;
    left: 280px;
    padding: 40px;
}

.cuerpo{
    text-align: center;
    background-color: gray;
    width: 600px;
    height: 400px;
    border-radius: 30px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 50px 50px;
}